@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(images/pattern-background-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    justify-content: center;
}
.card {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
}
.hero-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.content {
    padding: 25px;
}
h1 {
    margin-bottom: 20px;
    font-weight: 900;
}
p {
    color:  hsl(224, 23%, 55%);
    font-weight: 500;
}
.payment {
    padding: 20px;

}
.pricing {
    background-color:  hsl(225, 100%, 98%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
}
.plan {
    display: flex;
}
.plan div {
    text-align: left;
    margin-left: 10px;
}
.change {
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-weight: 700;
}
.change:hover {
    text-decoration: none;
    color: #766cf1;
}
.proceed, .cancel  {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-weight: 900;
    padding: 15px;
}
.proceed {
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 1px 5px 15px 15px hsl(225, 100%, 94%);
}
.proceed:hover {
    background-color: #766cf1;
}
.cancel {
    background-color: transparent;
    border: none;
    color: hsl(224, 23%, 55%);
}
.cancel:hover {
    color: hsl(223, 47%, 23%);
}
@media (min-width:1200px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
        
    }
}